  .tile.tile-2 .tile-inner {
    background: #ffffff; }
  .tile.tile-4 .tile-inner {
    background: #ffeded; }
  .tile.tile-8 .tile-inner {
    background: #ffcbcb; }
  .tile.tile-16 .tile-inner {
    background: #ffafaf; }
  .tile.tile-32 .tile-inner {
    background: #ff9797; }
  .tile.tile-64 .tile-inner {
    background: #ff8080; }
  .tile.tile-128 .tile-inner {
    background: #ff6d6d; }
  .tile.tile-256 .tile-inner {
    background: #ff5f5f; }
  .tile.tile-512 .tile-inner {
    background: #ff3b3b; }
  .tile.tile-1024 .tile-inner {
    background: #ff1515; }
  .tile.tile-2048 .tile-inner {
    background: #ff0000; }
  .tile.tile-super .tile-inner {
    color: #f9f6f2;
    background: #5f0000; }
